---
layout: default
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - localized-home.css
extra_js:
  - libs/slick.min.js

html_lang: "ja"
hreflang_value: "ja-jp"
hreflang_url: "https://about.gitlab.com/ja-jp/"

title: "GitLab は単一のアプリケーションとして提供される DevOps プラットフォームであり"
description: "たった一つのソリューションでソフトウェアのビルド、テスト、デプロイプロセスをスピードアップしましょう。GitLabはツールチェーンの複雑さを排除し、エンドツーエンドの可視性を向上させて組織改革の高速化を支援します。"

language_disclaimer: "英語のページが開きます"

choice_cards_title: "GitLab DevOps プラットフォーム"

choice_1_title: "GitLab を始める"
choice_1_body: "30日間の無料トライアル。GitLab は単なるソースコード管理や CI/CD ツールではありません。"
choice_1_btn_copy: "GitLab を無料でお試しください*"
choice_1_href: "/free-trial/"

choice_2_title: "デモビデオを見る"
choice_2_body: "GitLab をどのようにソフトウェア開発のライフサイクル全体へ適用するか学びましょう。"
choice_2_btn_copy: "デモビデオ*"
choice_2_href: "/demo/"

choice_3_title: "送信"
choice_3_body: "お問い合わせ内容"
choice_3_btn_copy: "担当者へのお問い合わせ"
choice_3_href: "https://page.gitlab.com/jp-contact-request.html"

why_gitlab_title: "なぜ GitLab が選ばれるか"
why_gitlab_p1: "GitLab は単一のアプリケーションとして提供される DevOps プラットフォームであり、開発チームやセキュリティチーム、運用チーム、製品チームのコラボレーション方法を抜本的に変革させます。たった一つのソリューションでソフトウェアのビルド、テスト、デプロイプロセスをスピードアップしましょう。"
why_gitlab_p2: "GitLab のプラットフォームはプロジェクト計画、ソースコード管理、CI/CD、セキュリティを兼ね備えており、役割に関係なく、すべてのユーザーにとって信頼できる唯一の情報源 (Single Source of Truth) として機能します。ツールチェーンの複雑さを排除し、エンドツーエンドの可視性を向上させて組織改革の高速化を支援します。"

feature_cards_title: "GitLab をご利用いただくと、以下を実現できます。"

feature_card_1_title: "ソースコード管理"
feature_card_1_body: "当社のバージョン管理とコラボレーション機能を使用してより優れたソフトウェアをより迅速にデリバリーできます。業務の調整や変更の記録と確認、コードレビューの合理化、デリバリーの管理をたった一つのインターフェイスで行えます。"

feature_card_2_title: "継続的インテグレーションとデリバリー"
feature_card_2_body: "GitLab の CI/CD で質の高いアプリケーションを大規模に構築しましょう。デジタル改革をスピードアップし、各部門におけるサイロを分解して、効率を上げることができます。"

feature_card_3_title: "開発費用を抑えつつソフトウェアの開発をスピードアップ"
feature_card_3_body: "ソフトウェア改革を迅速に進めることで、組織の競争優位性を高め、デジタル分野での競争力を上げることができます。"

feature_card_4_title: "アジャイルプロジェクト管理"
feature_card_4_body: "組織全体での可視性を高め、時間も予算も超過せずにデリバリーできます。また、カンバンボード、エピック、ロードマップによる部門横断的なコラボレーションを可能にし、ステークホルダーが最新情報を把握できるようにします。"

feature_card_5_title: "DevSecOps"
feature_card_5_body: "セキュリティは CI パイプラインに組み込まれており、煩雑な設定は必要ありません。セキュリティ上の脆弱性がないかを確認するため、コードやその依存関係はコードをコミットするたびにすべて自動的にスキャンされます。"

plans_title: "ニーズに合ったプランを選択"
plans_subtitle: "すべてのプランに無制限のパグリック、プライベートリポジトリが含まれます。"

plan_1_title: "FREE"
plan_1_description: "一式を完備した DevOps プラットフォーム"
plan_1_btn_copy: "今すぐ始める"
plan_1_href: "/pricing/"

plan_2_title: "Premium"
plan_2_description: "プロジェクト管理、コード整合性の保護、生産性分析を備えた DevOps"
plan_2_monthly: "月 / ユーザー当たり"
plan_2_annually: "(Billed annually at $228 USD)"
plan_2_btn_copy: "今すぐ購入する"
plan_2_href: "/pricing/"

plan_3_title: "Ultimate"
plan_3_description: "ポートフォリオ管理、高度なセキュリティテスト、コンプライアンスを備えた完全な DevSecOps"
plan_3_monthly: "月 / ユーザー当たり"
plan_3_annually: "(Billed annually at $1188 USD)"
plan_3_btn_copy: "今すぐ購入する"
plan_3_href: "/pricing/"

learn_cards_title: "GitLab の詳細を見る"

learn_cards:
  - title: "シングルアプリケーション CI/CD の価値"
    btn_copy: "詳しくはこちら"
    url: "https://learn.gitlab.com/jp-ent-ci/ja-benefits-of-single-app-ci"
  - title: "大規模な継続的インテグレーションとデリバリー"
    btn_copy: "今すぐ読む"
    url: "https://learn.gitlab.com/jp-ent-ci/scaled-ci-cd-wp-ja"
  - title: "初心者向け GitOps ガイド"
    btn_copy: "もっと詳しく"
    url: "https://learn.gitlab.com/jp-ent-gitops/ja-beginners-guide-to-gitops"

---

= partial "includes/localization/choice-cards"
.highlight-gray-light.flattop.flatbottom.partial-gray-background
= partial "includes/localization/why-gitlab"
.highlight-gray-light.flattop.flatbottom
  = partial "includes/localization/feature-cards"
= partial "includes/localization/pricing"
.highlight-gray-light.flattop.flatbottom
  = partial "includes/localization/learn-more-cards"
